body{
    justify-content: center;
    justify-items: center;
    background-color: #3E3232;
}

#button{
    color: white;
    font-weight: bolder;
    background-color: aqua;
    width: 60px;  
    height: 30px;
    border-radius: 15px;
}

#text{
    width: 500px;
    height: 25px;
    border-radius: 15px;
    padding-left: 5px;
}

#heading{
    color: white;
    display: flex;
}